body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    overflow: hidden; /* Чтобы не было прокрутки при увеличении кнопки */
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 32px;
}

.buttons {
    margin-top: 20px;
    position: relative;
}

button {
    font-size: 20px;
    padding: 10px 200px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#yes {
    z-index: 10;
}

#gif-container {
    display: none;
    margin-top: 20px;
}

#gif {
    width: 300px;
}
